default vesamenu.c32
#prompt 1
timeout 600

display boot.msg

menu background splash.jpg
menu title Welcome to CentOS 6.2!
menu color border 0 #ffffffff #00000000
menu color sel 7 #ffffffff #ff000000
menu color title 0 #ffffffff #00000000
menu color tabmsg 0 #ffffffff #00000000
menu color unsel 0 #ffffffff #00000000
menu color hotsel 0 #ff000000 #ffffffff
menu color hotkey 7 #ffffffff #ff000000
menu color scrollbar 0 #ffffffff #00000000

label linux
  menu label ^Install or upgrade an existing system
  kernel vmlinuz
  append initrd=initrd.img
label glance
  menu label Install ^glance - centos6-glance.example.com
  kernel vmlinuz
  append initrd=initrd.img ksdevice=eth0 ks=http://raw.github.com/ruzickap/splunk_glance/master/ks/centos62-glance ip=192.168.122.200 netmask=255.255.255.0 gateway=192.168.122.1
label splunk
  menu label Install ^splunk - centos6-splunk.example.com
  kernel vmlinuz
  append initrd=initrd.img ksdevice=eth0 ks=http://raw.github.com/ruzickap/splunk_glance/master/ks/centos62-splunk ip=192.168.122.205 netmask=255.255.255.0 gateway=192.168.122.1
label vesa
  menu label Install system with ^basic video driver
  kernel vmlinuz
  append initrd=initrd.img xdriver=vesa nomodeset
label rescue
  menu label ^Rescue installed system
  kernel vmlinuz
  append initrd=initrd.img rescue
label local
  menu label Boot from ^local drive
  menu default  
  localboot 0xffff
label memtest86
  menu label ^Memory test
  kernel memtest
  append -
